html{
    height: 100%;
    overflow-y: scroll;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f4f4f4;
}

/* 기본 스타일 초기화 */
body, h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-header {
    background-color: #f4f4f4; /* 헤더 배경 색상 */
    padding: 20px ; /* 헤더 상하 패딩 */
    text-align: center; /* 제목 중앙 정렬 */
    border-bottom: 1px solid #ddd; /* 헤더 하단에 얇은 선 추가 */
}
.map {
    height: 75vh;
    width: 60%;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.site-title {
    font-size: 24px; /* 제목 폰트 크기 */
    font-weight: bold; /* 제목 굵게 */
    color: #333; /* 제목 텍스트 색상 */
    line-height: 1.2; /* 줄 간격 조절 */
    margin: 0; /* 제목의 기본 마진 제거 */
}

.container{
    width: 100%;
    display:flex;
    justify-content: center;
}

.search-container {
    margin-top: 50px;
    justify-content: center;
    display: flex;
    width: 500px;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.search-select {
    
    border: none;
    border-radius: 25px 0 0 25px;
    padding: 0 15px;
    font-size: 16px;
    height: 40px;
    background-color: #f0f0f0;
}

.search-form {
    display: flex;
    flex-grow: 1;
    margin: 0;
}

.search-input {
    border: none;
    border-radius: 0;
    padding: 10px;
    font-size: 16px;
    flex-grow: 1;
    outline: none;
}

.search-button {
    border: none;
    background-color: #22D6B2;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button:hover {
    background-color: #45a049;
}


.image-wrapper {
    width: 100%;
    margin: 20px auto; /* 검색창과 이미지 박스 사이의 간격 */
}

.image-box {
    margin: 0 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 한 줄에 4개 이미지 배치 */
    gap: 20px; /* 이미지 간의 간격 */
    padding: 10px; /* 내부 여백 */
    background-color: #f0f0f0; /* 배경 색상 */
    border-radius: 15px; /* 둥근 모서리 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    
}

.image-item {
    position: relative;
    display: block;
    border-radius: 15px; /* 둥근 모서리 */
    overflow: hidden;
    
}

.image-item img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    color: #fff;
    padding: 10px;
    border-radius: 0 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.text {
    font-size: 14px;
    font-weight: bold;
}

.arrow {
    font-size: 18px;
    font-weight: bold;
}


.search-result-table{
    margin: 0 auto;
    width: 90%;
    margin-top: 50px;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* 컨트롤 버튼에 반투명 배경 추가 */
    border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%; /* 컨트롤 버튼의 너비를 좁게 설정 */
}

.carousel-inner {
    overflow: hidden;
    border-radius: 15px; /* 슬라이더 박스의 둥근 모서리 */
}

/* 로딩 창 스타일 */
#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    display: none; /* 기본적으로 숨겨진 상태 */
}

/* 애니메이션 효과 */
.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* 반응형 웹 디자인을 위한 추가 스타일 */
@media (max-width: 600px) {
    .site-title {
        font-size: 20px; /* 작은 화면에서 폰트 크기 조정 */
    }
}
