/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #e9f0f7; /* 부드러운 파란색 배경 */
}

/* 지도 크기와 레이아웃 설정 */
#map {
    max-height: 75vh;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* 로그 섹션 스타일 */
#log-section {
    max-height: 75vh;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.log-entry {
    margin-bottom: 20px; /* 각 카드 사이의 간격을 더 넓게 */
    font-size: 0.9rem;
    background-color: #a5d8f0; /* 카드 배경색 */
    border-radius: 10px; /* 둥근 모서리 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 카드의 그림자 */
    padding: 15px; /* 내부 여백 */
    border: 1px solid #ddd; /* 카드 경계선 */
}
.log-none span {
    font-weight: bold;
    color: #d11d1d;
    font-size: 24px;
    vertical-align: middle;   /* 수직 가운데 정렬 */
}

.log-entry span {
    font-weight: bold;
    color: #3e5675; /* 사이드바와 일관된 색상 */
}
img {
    width: auto; /* 이미지 너비를 부모 요소에 맞게 100%로 설정 */
    height: 80%; /* 높이를 자동으로 설정하여 이미지의 비율을 유지 */
    
  }

/* 반응형 디자인 */
@media (max-width: 992px) {

    #log-section {
        margin-top: 20px;
        text-align: center;
    }
}
